.top-side {
  border-bottom: 1px solid #ececec;
}
.header {
  display: flex;
  align-items: center;
}

/* site nav */
.navigation-site {
  display: flex;
  margin-left: 93px;
  .item + .item {
    margin-left: 50px;
  }
  // .link {
  //   display: block;
  //   padding-top: 32px;
  //   padding-bottom: 28px;

  //   color: var(--secondery-text-color);
  //   font-weight: 500;
  //   font-size: 14px;
  //   line-height: 1.14;
  //   letter-spacing: 0.02em;
  //   transition-property: color;
  //   transition-duration: 250ms;
  //   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // }
}

.navigation-site__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 28px;

  color: var(--secondery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-site__link:hover,
.navigation-site__link:focus {
  color: var(--accent-color);
}
.navigation-site__link--current {
  color: var(--accent-color);
}

.navigation-site__item--active:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
}
.navigation-site__item--active {
  position: relative;
}

/* contact-up */
.contact-up {
  display: flex;
  margin-left: auto;
  .item + .item {
    margin-left: 50px;
  }
}

.contact-up .link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-up .link:hover,
.contact-up .link:focus {
  color: var(--accent-color);
}

.contact-up-icon {
  margin-right: 10px;
  fill: currentColor;
}
